 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.Logo-Nav img {
  width: 300px;
  height: auto;
}

.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-item {
  flex: 0 0 auto;
}

.movie {
  width: 250px;
  height: auto;
}

.movie:hover {
  cursor:pointer;
}

.character {
  width: 150px;
  height: auto;
}

figure {
  position: relative;
}

figcaption {
  color:inherit;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  position: absolute;
  margin: 5px;
  top: 0;
  left: 0;
}

.character-bio {
  display: flex;
  width: 50%;
  /* align-items: center; */
  font-family: 'Anton', sans-serif;
}

.col {
  flex: 1;
}

.bio-name {
  font-size: 45px;
  font-family: 'Anton', sans-serif;
}

.bio-header {
  font-family: 'Anton', sans-serif;
}

.character-bio-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255,255,255,0.2);
}

.character-bio-content section {
  margin-bottom: 20px;
}

.hide {
  display: none;
}
